venv/

# Python cache
__pycache__/
*.pyc

# Environment variables
.env

# staticfiles

webapp/staticfiles

# local database

*.sqlite3

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

.vs/
bin/
obj/
