{% extends "base.html" %}

{% block content %}
        <button>
            <a href="{% url 'main_view' %}">Previous</a>
        </button>
        <button>
                <a href="{% url 'user_create' %}">Utworz uzytkownika</a>
        </button>

    <p>Liczba wszystkich uzytkownikow: {{users_count}}</p>
    <p>Liczba uzytkownikow: {{common_users_count}}</p>
    <p>Liczba administratorow: {{admin_users_count}}</p>

    {% for user in users %}
        <p>{{ user.id }}</p>
        <p>{{ user.username }}</p>
        <a href="{% url 'delete_user' user.id %}">Delete</a>
        <a href="{% url 'user_update' user.id %}">Update</a>

    {% endfor %}
{% endblock %}