<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tasks</title>
</head>
<body>
    <button>
        <a href="{% url 'main_view' %}">Previous</a>
    </button>
    <button>
        <a href="{% url 'create_task' %}">Create task</a>
    </button>
    {% for task in tasks %}
        <p>{{ task.id }}</p>
        <p>{{ task.title }}</p>
        <p>{{ task.description }}</p>
        <p>{{ task.status }}</p>
        <p>{{ task.assigned_to }}</p>
        <p>{{ task.created_by }}</p>

        {% for tag in task.tags.all %}
            {{ tag.name }}
        {% endfor %}

        <p>{{ task.is_deleted }}</p>
        <p>{{ task.created_at }}</p>
        <p>{{ task.updated_at }}</p>

        <a href="{% url 'delete_task' task.id %}">Delete</a>
        <a href="{% url 'update_task' task.id %}">Update</a>
        <hr>
    {% endfor %}

</body>
</html>
