{% extends "base.html" %}

{% block content %}

    <div style="box-shadow: 0 4px 10px rgba(0,0,0,0.2); padding: 35px;">
        <div style="display: flex; justify-content: flex-start; flex-wrap: wrap; align-items: center; gap: 16px; max-height: 400px; overflow-y: auto;">

        {% for project in projects %}

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ project.created_at }}</h6>
                <p class="card-text"><p>{{ project.description }}</p>
                <p class="card-text"><p>{{ project.owner }}</p>
                <a href="#" class="card-link">Details</a>
                <a href="{% url 'projects_members_view' project.id %}" class="card-link">Members</a>
                <a href="{% url 'update_project' project.id %}" class="card-link">Update project</a>
              </div>
            </div>

            <hr>
        {% endfor %}
        </div>
    </div>
        <button type="button" class="btn btn-link">
        <a href="{% url 'create_project' %}">Utwórz projekt</a>
    </button>

{% endblock %}
