{% extends "base.html" %}

{% block content %}
        {% for project in projects %}

            <div class="card" style="width: 18rem;">
              <div class="card-body">
                <h5 class="card-title">{{ project.name }}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{ project.created_at }}</h6>
                <p class="card-text"><p>{{ project.description }}</p></p>
                <a href="#" class="card-link">Details</a>
                <a href="#" class="card-link">Members</a>
              </div>
            </div>

            <hr>
        {% endfor %}
{% endblock %}
